/* 页面整体样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "华文行楷";
  }
  


  /* 页眉样式 */
  header {
    background-color: #567ea9f4;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* 主要内容样式 */
  main {
    padding: 20px;
    text-align: center;
    border-radius: 33px;
    background: linear-gradient(145deg, #dfddd1, #fffff8);
    box-shadow:  20px 20px 39px #d0cec3,
                 -20px -20px 39px #ffffff;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    color: #333;
  }
  
  /* 页脚样式 */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  form{
    text-align: center;
  }
  form .text {
  display: inline-block;
  border: 0;
  width: 900px; /*260px*/
  height: 70px; /*26px*/
  font-size: 20px;/*14px*/
  outline: none;
  border: 2px solid #01af63;
  border-radius: 20px;
  }

  form .search {

  width: 120px; /*90px*/
  height: 73px; /*38px*/
  border: 2px solid #01af63;
  outline: none;
  cursor: pointer;
  /*   cursor: pointer;   鼠标悬停或点击时button时鼠标变成其他图标  */
  text-align: center;
  background-color: #01af63;
  color: #FFFFFF;
  border-radius: 20px;
  }
  li:hover{
    background-color: violet;
}
.nav li:last-child{
  border-right: 0;
}
